<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for ="title">Project's Title</label>
    <input id="n" name="title" class="form-control" types="text">
  </div>
  <button type="submit" class="btn">Add project</button>
</form>
